/* universal */

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 16px;
}

/*for all*/

h2 {
    line-height: 150%;
}

h3 {
    line-height: 150%;
}

h4 {
    color: #AD847A;
}

body {
    padding: 0;
    margin: 0;
    color: #5A554E;
    background-color: white;
}

/* nav bar */

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 80px;
    background: #EBE9E4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 35px;
    width: 80px;
    padding: 15px;
    justify-content: flex-end;
}

h1 {
    width: 20%;
    align-items: center;
    justify-content: flex-start;
}

span {
    color: #AD847A;
}

nav {
    width: 70%;
    justify-content: flex-end;
    margin-right: 30px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    margin: 20px;
    font-weight: bold;
    justify-content: center;
}

a {
    color: #5A554E;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    font-size: 21px;
}

/* hero image and feature text*/

main {
    padding-top: 60px;
    margin: 0;
}

figure {
    height: 750px;
    width: 100%;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 0;
    margin-left: 0;
}

figcaption{
    font-size: 25px;
    text-align: center;
}

/* project section */

.project-text {
    width: 30%;
    text-align: end;
    padding-right: 50px;
}

section {
    padding: 80px;
    padding-left: auto;
    padding-right: auto;
}

.section-intro {
    width: 50%;
}

article{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    width: 70%;
    padding-top: 50px;
}

/*Contact Form*/

#contact {
    padding-top: 0;
}

#contact p {
    width: 45%;
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
}

label{
    width: 100px;
    line-height: 200%;
    font-weight: bold;
}

input {
    height: 28px;
    margin: 5px;
    width: 33%;
}

#message {
    height: 100px;
}

button {
    background:#AD847A;
    border: none;
    margin: 5px;
    color:#EBE9E4;
    font-size: 16px;
    line-height: 24px;
    width: 33%;
}

button:hover {
    background: #8a6961;
    font-size: 17px;
}

/*Footer*/

footer {
    text-align: center;
    color: #EBE9E4;
    background: #5A554E;
    padding: 120px;
}